/* /* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 
@media only screen and (max-width :749px){
  .form-container{
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #ededed;
    width: 95%;
    flex-direction: column;
    margin: 25px auto;
  }
  .form-container h3{
    font-weight: 400;
    word-spacing: 3px;
    border: 2px solid #fff;
    padding: 4px 13px;
    background: #fff;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  input{
    margin: 5px 0;
    padding: 7px;
    border: 0.625px solid #ededed;
    border-radius: 4px;
    color: rgb(0,0,0,0.7);
  }
  input:focus-visible{
    border: 0.625px solid #b7b4b4;
        box-shadow: 0 0 0.9px 0px #000;
        outline: none;
  }
  label{
    margin: 5px 0;
    color: #313131;
  }
  button{
    background: #000;
    color: #fff;
    margin: 15px 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    outline: none;
    letter-spacing: 2px;
    font-weight: 500;
  }
} */